@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.chip {
  font-family: "Lobster", cursive;
}

.luncher {
  font-family: "Lobster", cursive;
}

/* .feature-section {
  background-image: linear-gradient(
      to bottom,
      rgba(139, 72, 17, 0.37),
      rgba(39, 100, 9, 0.402)
    ),
    url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  height: 110vh;

  background-repeat: no-repeat;
} */

.feature_text {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1300px) {
  .hero_image2 {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 900px) {
  .hero_image2 {
    transform: rotate(0deg);
    display: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .feature_img {
    width: 100%;
  }
}
